[BASIC]
variable-rgx=[a-z0-9_]{1,30}$

[MASTER]
ignore-paths=dryparse/_meta.py

[FORMAT]
max-line-length=79

[MISCELLANEOUS]
notes=FIXME

[MESSAGES CONTROL]

        # Just so it doesn't treat globals as constants
disable=invalid-name,
        # This is just annoying
        global-statement,
        # We use generic Exceptions to generate CLI error messages
        broad-except,
        # These don't make sense
        too-many-instance-attributes,
        too-few-public-methods,
        too-many-arguments,
